.imageBlock {
    max-width: 17em;
    position: relative;
}
.imageBlock img {
    width: 100%;
}
.tips {
    padding: 0.25em 0.5em;
    background-color: var(--product-tips-color);
    color: var(--white-color);
    border-radius: 6px;
    font-weight: 700;
    line-height: 17px;
    font-size: 0.875rem;
}
.name {
    color: var(--product-main-color);
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 140%;
}
.brand {
    composes: name;
    color: var(--product-brand-color);
}
.price {
    color: var(--product-main-color);
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 140%;
}
.oldPrice {
    color: var(--product-sales-color);
    font-weight: 500;
    line-height: 140%;
}