.category {
    border-radius: 24px;
    background-repeat: no-repeat;
    background-size: cover;
}

.category:nth-child(even) {
    background-image: url("../../images/category-bg-even.png");
}

.category:nth-child(odd) {
    background-image: url("../../images/category-bg-odd.png");
}

.category:nth-child(even) h3 {
    color: var(--main-purple);
}

.category:nth-child(odd) h3 {
    color: var(--main-orange);
}

.category:nth-child(even) a {
    color: var(--main-purple);
}

.category:nth-child(odd) a {
    color: var(--main-orange);
}