.category {
    background-color: var(--bg-color);
    border-radius: 24px;
}

.category h3 {
    margin: 0 0 4em;
}

.childrenLinks {
    display: flex;
}
.link {
    border: 1px solid #C7C7C7;
    border-radius: 78px;
    padding: 0.625em 1.25em;
}